In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("datasets/wfp_food_prices_mozambique.csv")

In [7]:
df.describe()

,price,admname,adm1id,mktid,cmid,ptid,umid,catid,default
count,40273.000000,0.0,40273.000000,40273.000000,40273.000000,40273.000000,40273.000000,40273.000000,0.0
mean,41.835049,NaN,2117.367517,454.451742,220.879597,14.979937,5.970874,3.306384,NaN
std,28.509619,NaN,3.359921,539.100374,129.620899,0.140218,2.960804,2.336852,NaN
min,1.000000,NaN,2112.000000,316.000000,52.000000,14.000000,5.000000,1.000000,NaN
25%,23.333300,NaN,2114.000000,321.000000,67.000000,15.000000,5.000000,1.000000,NaN
50%,35.940000,NaN,2118.000000,326.000000,222.000000,15.000000,5.000000,4.000000,NaN
75%,55.416600,NaN,2120.000000,334.000000,286.000000,15.000000,5.000000,5.000000,NaN
max,1000.000000,NaN,2122.000000,2753.000000,431.000000,15.000000,15.000000,7.000000,NaN